<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
      {{> header}}
      <p>Project page text would go here...</p>

      <p>What I'm studying:</p>
      <ul>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>Express</li>
      </ul>

      {{> footer}}
  </body>
</html>
